<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ACE INSPIRATION - StudentRegistration</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/material-icons.min.css}">
    <link rel="stylesheet" th:href="@{/fonts/typicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">

</head>


<body id="page-top">
<div id="wrapper">
    <nav th:replace="../fragments/sidebar :: sidebar" ></nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav th:replace="../fragments/header :: header" ></nav>
            <div class="container-fluid" style="margin: 0;padding: 0 50px;">
                <div class="card shadow" style="padding: 24px 32px;">
                    <div class="card-header d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between gap-3">
                        <h5 class="display-6 text-nowrap text-capitalize mb-0"
                            style="font-family: Manrope, sans-serif;font-size: 28px;font-weight: bold;">
                            All Students</h5>
                        <div class="row justify-content-end align-items-center">
                            <div class="col text-start"><a class="btn btn-success btn-icon-split" role="button"
                                                           style="height: 32px;border-radius: 3.2px;border-top-left-radius: 3.2px;border-top-right-radius: 3.2px;border-bottom-right-radius: 3.2px;border-bottom-left-radius: 3.2px;margin-right: 0;background: rgb(54,110,255);border-color: rgb(54,110,255);border-bottom-color: rgb(54,110,255);"><span
                                    class="text-white-50 icon" style="padding: 3px 12px;border-top-left-radius: 3.2px;"><i
                                    class="typcn typcn-upload-outline text-white"></i></span><span
                                    class="text-white d-none d-sm-none d-md-inline-block d-lg-inline text"
                                    style="padding: 3px 12px;">Generate Files</span></a></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container table-responsive m-auto">
                            <table id="userTable" class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="../fragments/footer :: footer" class="z-1"></footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/js/datatable-aa.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script>


    $(document).ready(function () {
        const table = $('#userTable').DataTable({
            serverSide: true,
            scrollY: 250,
            deferRender: true,
            scroller: true,
            processing: true,
            ajax: "/admin/get-users",
            columns: [
                {data: "code", name: "code"},
                {data: "name", name: "name"},
                {data: "username", name: "username"},
                {
                    data: "enabled",
                    render: function (data, type, row) {
                        btn_text = data?"disable":"enable";
                        btn_color = data?"btn-danger":"btn-success text-white";
                        return '<a href="/admin/user/edit?id=' + row.id + '">' +
                            '<button class="btn btn-sm btn-warning me-2 w-25">Reset</button>' +
                            '</a>'+
                            '<a href="/admin/user/edit?id=' + row.id + '">' +
                            '<button class="btn btn-sm w-25 '+btn_color+'">'+btn_text+'</button></a>' ;
                    },
                    sortable: false
                }

            ],
        });
    });
</script>

</body>

</html>